################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages
bin/
obj/
/PokemonGo/RocketAPI/Proto/google/protobuf
/Google Protobuf
/PokemonGo-UWP/PokemonGo-UWP.csproj.user
/PokemonGo-UWP/null
/PokemonGo-UWP/Utils/BingKey.cs
/.vs/config/applicationhost.config
