[submodule "Pokemon-Go-Rocket-API"]
	path = Pokemon-Go-Rocket-API
	url = https://github.com/DetectiveSquirrel/Pokemon-Go-Rocket-API.git
[submodule "Pokemon-GO-App-Assets-and-Images"]
	path = Pokemon-GO-App-Assets-and-Images
	url = https://github.com/Superviral/Pokemon-GO-App-Assets-and-Images.git
