<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="9a2edea6-d079-4b89-9ff7-7d55fbec5ef7" Publisher="CN=Jark.Reijerink" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="9a2edea6-d079-4b89-9ff7-7d55fbec5ef7" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PokemonGo-UWP.Tests</DisplayName>
    <PublisherDisplayName>Jark.Reijerink</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App" Executable="$targetnametoken$.exe" EntryPoint="PokemonGo_UWP.Tests.App">
      <uap:VisualElements DisplayName="PokemonGo-UWP.Tests" Square150x150Logo="TestAssets\Square150x150Logo.png" Square44x44Logo="TestAssets\Square44x44Logo.png" Description="PokemonGo-UWP.Tests" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="TestAssets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="TestAssets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>